<div style="text-align:center;">
  <a href="/"><img src="<%=asset_path 'img.jpg' %>" width="400"></a>
</div>
<div style="width:100%; background:#f0f0f0;">
  <p style="text-align:center; font-size:40px; margin:5px 0;">
  Blog's 
  <a href="/blog/write" style="font-size:15px; virtical-align:middle; float:right;">글쓰기</a>
  </p>
</div>